<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>Forgot Password?</h2>
    <h3>Code to set a new password was sent to +*********9115 via SMS</h3>
  </div>
  <div class="form_baCK">
    <form>
      <div class="port">
        <p>Verification Code</p>
        <div class="otp">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
        </div>
        
      </div>
      <div class="port">
        <p>Password</p>
        <input type="password" name="" id="">
      </div>
      <div class="port">
        <p>Confirm Password</p>
        <input type="password" name="" id="">
      </div>
      
      
      <ion-button color="custom" fill="clear"[routerLink]="['/signin']">
        Save
      </ion-button>
    </form>
  </div>
  
</div>