<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>Forgot Password?</h2>
    <h3>Code to set a new password was sent to +*********{{last_four_digits}} via SMS</h3>
  </div>
  <div class="form_baCK">
    <form >
      <div class="port">
        <p>Verification Code</p>
        <div class="otp" >
          <input #otp1 type="number" name="one" id="one" [(ngModel)]="one" maxlength="1" [disabled]="!disable" (keyup)="gotoNextField(otp2)">
          <input #otp2 type="number" name="two" id="two" [(ngModel)]="two" maxlength="1" [disabled]="!disable"(keyup)="gotoNextField(otp3)">
          <input #otp3 type="number" name="three" id="three" [(ngModel)]="three" maxlength="1" [disabled]="!disable" (keyup)="gotoNextField(otp4)">
          <input #otp4 type="number" name="four" id="four" [(ngModel)]="four" maxlength="1" [disabled]="!disable" (keyup)="gotoNextField(otp5)">
          <input #otp5 type="text" name="five" id="five" [(ngModel)]="five" maxlength="1" [disabled]="!disable" (keyup)="gotoNextField(otp6)">
          <input #otp6 type="text" name="six" id="six" [(ngModel)]="six" maxlength="1" (keyup)="matchOtp()">
        </div>

      </div>

      <div class="port">
        <p>Password</p>
        <input type="password" name="password" id="password" [(ngModel)]="password"[disabled]="disable" (click)="_funct()">
      </div>
      <div class="port">
        <p>Confirm Password</p>
        <input type="password" name="confirm" id="confirm" [disabled]="disable" [(ngModel)]="confirm" (click)="_funct()">
      </div>



      <ion-button color="custom" fill="clear" [disabled]="disable" (click)="resetPassword()">
        Save
      </ion-button>
    </form>
  </div>

</div>