.institute_list{
    width: 100%;
    p{
        color: rgba(0,0,0,.5); margin: 0; padding: 0; font-size: 1.2rem;
    }
   
    .title_back{
        width: 100%; 
        background-color: #fff; 
        box-shadow: rgba(0,0,0,.1) 1px 0 1rem; 
        padding-left: 2rem;  
        border-radius: 5px;
         padding: 2rem;
        p{
            color: #e85b23;  font-size: 14px; text-transform: capitalize; margin: 0; padding: 0;
        }
    }
    .details{
        width: 100%; padding-top: 4rem;
        p{
            color: #e85b23; font-size: 1.6rem; margin: 0 0 1.5rem 0; padding: 0;
        }
    }
    .ion-color-custom{
        width: 14rem; height: 4rem; background-color: #0c4d9d; border-radius: 12px; color: #fff; text-transform: capitalize; margin-top: 1.4rem; 
        box-shadow: rgba(0,0,0,.2) 1px 0 10px;
        
    }
}

.institute_list_back{
    width: 100%; 
    background-color: #fff; 
    box-shadow: rgba(0,0,0,.1) 1px 0 1rem; 
    padding-left: 2rem;  
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    .head{
        img{
            height: 8.5rem;
            margin-right: 1rem;
        }
        color: #e85b23;  font-size: 1.6rem; text-transform: capitalize; margin: 0; padding: 0; font-weight: 600;
    }
    .list_details{
        width: 100%;
        margin-top: 8px;
        small{
            color: rgba(0,0,0,.5); font-size: 13px; margin-bottom: 5px;
        }
        p{
            font-size: 1.4rem;     color: #343434;
        }
    }
    .list_footer{
        width: 100%;
        padding: 2rem 1rem;
        .check_back{
            width: 100%;
            position: relative;
            input[type="checkbox"]{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }
            input[type="checkbox"] + label{
                font-weight: normal;
                font-size: 1.5rem;
                color: #343434;
                padding-left: 2.9rem;
                position: relative;
                padding-top: 2px;
                span{
                    width: 2rem;
                    height: 2rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: rgba(0,0,0,.2) 2px solid;
                    border-radius: 2px;
                }
            }
            input[type="checkbox"]:checked + label{
                span{
                    background-color: rgba(0,0,0,1); border-color: #000;
                }
            }

        }
        a{
            display: block; flex: 0 0 40%;
            color: #000;
            font-size: 1.6rem;
            font-weight: 600;
            text-align: right;
            cursor: pointer;
            text-decoration: none;
        }
    }
}


