<div class="institute_list">
  <div class="title_back">
    <p>Please select 2 Institute from list to compare</p>
    <ion-button type="button" color="custom" fill="clear" (click)="compareColleges()" [disabled]="compare_button_flag">
      Compare
    </ion-button>
  </div>



  <div class="institute_list_back" *ngFor="let institute of all_institutes">
    <div class="portion">
      <div class="head d-flex align-center">
        <img src="{{uploadsUrl}}/{{ institute.logo }}" onerror="this.src = 'assets/images/no-image.png';">
        
        {{ institute.title}}
      </div>
      <div class="list_details">
        <small>Description</small>
        <p>{{ institute.description }}</p>
      </div>
      <div class="list_footer d-flex align-center justify-content-between">
        <!-- <div class="check_back">
          <input type="checkbox" #c [value]="item" [checked]="!item.id" (change)="c.checked ? toggle($event) : removeCollege($event)">
          <label for="compare">
            <span></span>
            Add to compare
          </label>
        </div> -->
        <ion-checkbox #c [value]="institute" name="{{institute.id}}" (ionChange)="c.checked ? addCollege($event) : removeCollege($event)">
          </ion-checkbox><ion-label>Add to compare</ion-label>
        <div>
          <ion-button type="button" color="custom" fill="clear" (click)="viewMore(institute.id)">
            View Details
          </ion-button>
        </div>

      </div>
    </div>
  </div>


  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>