<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>Forgot Password?</h2>
    <h3>Code to set a new password was sent to +*********9115 via SMS</h3>
  </div>
  <div class="form_baCK">
    <form>
      
      <div class="port">
        <p>Mobile Number</p>
        <input type="password" name="" id="">
      </div>
     
      
      <ion-button color="custom" fill="clear"[routerLink]="['/forgot-password']">
        Get OTP
      </ion-button>
    </form>
  </div>
  
</div>