<div class="abroad_back">
  <h2>Popular countries to study MBBS Abroad</h2>

  <div (click)="getCountry($event.target.value)">
    <ul class="service_list_back" *ngFor="let countries of allCountries">
      <li class="d-flex align-center" [value]="countries.id">
        <img src="assets/images/{{ countries.name }}.png" alt="">
        {{ countries.name }}
      </li>
    </ul>
  </div>
</div>

<div class="details d-flex align-center flex-column">
  <p>For Expert Counselling</p>
  <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
    Click Here
  </ion-button>
</div>