.notification_back{
    width: 100%; height: auto; 
        h2{
            color: #e85b23;  font-size: 1.6rem; text-transform: capitalize; margin: 0 0 1.4rem 0; padding: 0;
        }
}


.ion-color-custom{
    width: 14rem; height: 4rem; background-color: #0c4d9d; border-radius: 12px; color: #fff; text-transform: capitalize; margin-top: 5px; 
    box-shadow: rgba(0,0,0,.2) 1px 0 10px; margin-top: 2rem;
    
}

.card{
    width: 100%; padding: 1rem; box-shadow: rgba(0,0,0,.2) 1px 0 1rem; margin-bottom: 1.2rem;
    p{
        font-size: 1.2rem; margin: 0 0 1rem 0; padding: 0;  color: #95969a; 
        &.orange_text{
            color: #e85b23; font-weight: 700;
        }
    }
    h3{
        text-transform: uppercase; font-size: 1.4rem; color: #343434; 
    }
    h6{
        color: #95969a;
        font-size: 1.2rem;
    }
    .ion-color-custom{
        width: 10rem; height: 4rem; float: right;
    }
}

.my_institutions_form_back{
    width: 100%; display: block;
    p{
        color: rgba(0,0,0,.5); margin: 0; padding: 0; font-size: 1.2rem;
    }
    ion-grid{
        margin-top: 2rem;
        padding: 0;
        ion-row{
            padding: 0; margin-bottom: 2rem; border-bottom: rgba(0,0,0,.5) 1px solid;
            ion-col{
                padding: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    .details{
        width: 100%; padding-top: 4rem;
        p{
            color: #e85b23; font-size: 1.6rem; margin: 0 0 1.5rem 0; padding: 0;
        }
    }
    .ion-color-custom{
        width: 14rem; height: 4rem; background-color: #0c4d9d; border-radius: 12px; color: #fff; text-transform: capitalize; margin-top: 1.4rem; 
        box-shadow: rgba(0,0,0,.2) 1px 0 10px;
        
    }
}

.counselling_form_back{
    padding: 1rem; border:#e85b23 1px solid ; border-radius: 5px;
    h2{
        color: #e85b23;  font-size: 1.6rem; text-transform: capitalize; margin: 0 0 1.4rem 0; padding: 0;
        span{       
            font-size: 1.2rem; color: #343434; 
        }
    }
}
p{
    margin: 0;
}

ion-grid{
    margin-top: 2rem;
    padding: 0;
    p{
        padding-top: 6px;
    }
    ion-row{
        padding: 0; margin-bottom: 1rem; border-bottom: rgba(0,0,0,.2) 1px solid;
        ion-col{
            padding: 0; margin-bottom: 0;
        }
        &:last-child{
            margin-bottom: 0; border-bottom: none;
        }
    }
}
ion-datetime{
    margin-bottom: 1rem;
}
.radio_back{
    flex-wrap: wrap;
    &.msg{
        .port{
            max-width: 33.33333%; flex: 0 0 33.33333%; 
            img{
                height: 2.8rem; margin-left: 1rem;
            }
        }
    }
    .port{
        position: relative; margin-bottom: 1rem; max-width: 50%; flex: 0 0 50%; 
        input[type="radio"]{
            position: absolute; top: 0; left: 0; opacity: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.radio_back .port input[type="radio"] + label{
    font-weight: normal; font-size: 1.5rem; color: #343434;
    span{
        width: 2rem; height: 2rem; background-color: #fff; border: #0c4d9d 2px solid; border-radius: 100%; display: inline-block; vertical-align: middle; 
        margin-right: 5px; position: relative;
        &::before{
            width: 1rem; height: 1rem; background-color: #0c4d9d; border-radius: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; 
            content: ""; opacity: 0; transform: scale(0); transition: all .3s ease-in-out;
        }
    }
}
.radio_back .port input[type="radio"]:checked + label{
    span{
        &::before{
            opacity: 1; transform: scale(1);
        }
    }
}

@media only screen and (max-width:370px){
    .radio_back .port input[type=radio] + label{
        font-size: 1.2rem;
    }
    .radio_back.msg .port img{
        height: 2.5rem; margin-left: 3px;
    }
}