<div class="profile_back">
  <h2>
    <span class="blue">Show your friends the pathway to the fulfillment of their career!</span><br><br>
    Refer <span class="orange">VDeWBy</span> to your friends and earn points, which you may redeem while renewing your subscription!
  </h2>
  <div class="input_back">
    <input type="text" name="" placeholder="Enter Your Mobile No" id="">
    <input type="submit" value="">
  </div>
</div>
<div class="details d-flex align-center flex-column">
  <p>For Expert Counselling</p>
  <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
    Click Here
  </ion-button>
</div>