<div class="card">
  <h2>For Expert Counselling</h2>
  <div class="portion">
    <h3>MEDCYCLOPEDIA EXPERT COUNSELLING WILL -</h3>
    <p># Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta blanditiis at consequatur veniam, atque totam inventore facilis nostrum cumque neque voluptate, aperiam itaque, ipsum provident! Totam hic voluptas eos nisi.</p>
    <p># Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta blanditiis at consequatur veniam, atque totam inventore facilis nostrum cumque neque voluptate, aperiam itaque, ipsum provident! Totam hic voluptas eos nisi.</p>
    <p># Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta blanditiis at consequatur veniam, atque totam inventore facilis nostrum cumque neque voluptate, aperiam itaque, ipsum provident! Totam hic voluptas eos nisi.</p>
    <h3>PROCESS -</h3>
    <ol type="1">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur, blanditiis porro quisquam veniam laborum!</li>
      <li>Vero numquam, necessitatibus aliquam asperiores sint fugiat quibusdam nisi corporis dolore, vel, cupiditate optio velit!</li>
      <li>Eius, itaque dolor. Saepe, doloremque doloribus eligendi maiores nam quam quisquam est consequatur quis magni!</li>
      <li>Adipisci nostrum ducimus inventore, suscipit odio, consectetur omnis exercitationem neque deserunt porro iste illum sunt!</li>
      <li>Nisi dignissimos voluptate mollitia quis quas deserunt repellat saepe consequuntur quasi unde. Inventore, necessitatibus nulla?</li>
      <li>Quas nihil fugit fuga, architecto illum numquam consectetur sed necessitatibus iusto voluptates, ex aspernatur ut.</li>
      <li>Vero illum labore quae aspernatur, praesentium voluptatem dicta laborum. Similique quidem ad neque quod ratione!</li>
    </ol>
    <div class="check_back d-flex align-center">
      <ion-checkbox></ion-checkbox>
      <ion-label>By Signing up i agreed to the medcyclopedia terms & conditions</ion-label>
    </div>
  </div>
</div>


<div class="card">
  <h2>Subscription</h2>
  <div class="portion">
    <p>by our experts!</p>
    <p>To avail this special service</p>
    <ion-button color="custom" fill="clear">
      Subscribe Now!
    </ion-button>
</div>

