<div *ngFor="let bank of allBanks">
  <div class="card">
    <div class="area">
      <img src="assets/images/{{ bank.bank_name }}.png" alt="">
      <h2>{{ bank.bank_name}}</h2>
    </div>
    <div class="button">
      <ion-button color="custom" fill="clear" (click)="popOpen(bank)" xx>
        Details
      </ion-button>
    </div>

  </div>

  <div class="popup" *ngIf="pop">
    <div class="back">
      <ion-icon name="close-outline" (click)="popClose()"></ion-icon>
      <div class="area">
        <img src="assets/images/{{bankdetails.bank_name}}.png" alt="">
        <h2 >Bank Name : {{ bankdetails.bank_name }}</h2>
      </div>
      <h5>Description : <a href="{{ bankdetails.description }}" > Click Here to View </a></h5>
      <h5>Contact Name : {{ bankdetails.contact_name }}</h5>
      <h5>Email :  {{ bankdetails.email }}</h5>
      <h5>Contact : {{ bankdetails.contact_number}}</h5>
    </div>
  </div>
</div>