<div class="my_institutions_form_back">
  <div class="title_back">
    <h2>Find Your Institutions</h2>
    <ion-grid>
      <ion-row class="d-flex align-center">
        <ion-col size="4">
          <p>Management</p> 
        </ion-col>
        <ion-col size="8">
          <div class="radio_back d-flex" (change)="getManagement($event.target.value)">
            <div class="port d-flex align-center">
              <input type="radio" name="radio" id="govt" value="Government">
              <label for="govt">
                <span></span>
                Govt.
              </label>
            </div>
            <div class="port d-flex align-center">
              <input type="radio" name="radio" id="pvt" value="Private">
              <label for="pvt">
                <span></span>
                PVT.                
              </label>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="d-flex align-center">
        <ion-col size="4">
          <p>State</p> 
        </ion-col>
        <ion-col size="8">
          <ion-select placeholder="" [(ngModel)]="state_id">
            <ion-select value="Andaman & Nicobar Island" okText="Okay" cancelText="Dismiss">
              <ion-select-option *ngFor="let state of allStates" name="state_id" value="{{ state.id }}" >{{ state.state_name }}</ion-select-option>
              <!-- <ion-select-option value="Assam">Assam</ion-select-option>
              <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
              <ion-select-option value="Bihar">Bihar</ion-select-option> -->
            </ion-select>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12">
          <ion-button type="button" color="custom" fill="clear" (click)="findInstitutes()">
            Search
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>