<div class="notification_back">
  <h2>{{ exam_detail.title }}</h2>
  <div class="card">
    <div class="section">
      <h6>Description</h6>
      <p>{{ exam_detail.description }}</p>
    </div>
    <div class="section">
      <h6>Application Procedure</h6>
      <p>{{ exam_detail.application_procedure }}</p>
    </div>
    
    
  </div>
  <div class="card">
    <div class="section">
      <h6>Course Category</h6>
      <p>{{ exam_detail.course_id}}</p>
    </div>
    <div class="section">
      <h6>Time</h6>
      <p>{{ exam_detail.time }}</p>
    </div>
    <div class="section">
      <h6>Duration</h6>
      <p>{{ exam_detail.duration}}</p>
    </div>
    <div class="section">
      <h6>Fee</h6>
      <p>{{ exam_detail.fees }}</p>
    </div>
    
    <div class="section">
      <h6>Cutoff Last Year</h6>
      <p>{{ exam_detail.cutofflastyear}}</p>
    </div>
    <div class="section">
      <h6>Imp. Date Current Year</h6>
      <p>{{ exam_detail.important_date_current_year }}</p>
    </div>
    <div class="section">
      <h6>Link</h6>
      <p>{{ exam_detail.link}}</p>
    </div>
    <div class="section">
      <h6>Imp. Date Last Year</h6>
      <p>{{ exam_detail.important_date_last_year  }}</p>
    </div>
    
    
  </div>
 
 