.card{
    width: 100%; height: auto; padding: 2rem; box-shadow: rgba(0,0,0,.2) 1px 0 1rem; border-radius: 5px; margin-bottom: 2rem; background-color: #fff;
    h2{
        color: #e85b23;
        font-size: 1.6rem;
        text-transform: capitalize;
        margin: 0 0 2rem 0;
        padding: 0;
    }
    .portion{
        width: 100%; margin-bottom: 4rem;
        .ion-color-custom{
            width: 8rem;  margin-right: 2rem;
        }
    }
    .area{
        display: flex; align-items: flex-start;
        img{
            height: 5rem; margin-right: 1rem;
        }
        h2{
            color: #343434; font-size: 1.3rem; font-weight: 700; margin: 0;
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
}
.button{
    width: 100%; display: flex; justify-content: flex-end; 
}
.ion-color-custom{
    width: 14rem; height: 4rem; background-color: #0c4d9d; border-radius: 12px; color: #fff; text-transform: capitalize; margin-top: 1.4rem; 
    box-shadow: rgba(0,0,0,.2) 1px 0 10px;
    
}
