<ion-header>
  <ion-toolbar color="custom_color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Succes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div > 
        <h1> Your Payment Has been Successfull</h1> 
        <ion-button color="custom" fill="clear" [routerLink]="['/home']">
          Click To Home
        </ion-button>
    </div>
  </div>    
</ion-content>



