<div class="notification_back" >
  <h2>Explore Exams</h2>
  <div class="card" *ngFor="let exam of allExams">
    <p class="orange_text">{{ exam.title }}</p>
    <div class="section">
      <h6>Description</h6>
      <p>{{ exam.description.substring(0,100) }}...</p>
    </div>
    <div class="section">
      <h6>Imp. Year</h6>
      <p>{{ exam.important_date_current_year}}</p>
    </div>
    <div class="section">
      <p>Fee : {{ exam.fees}}</p>
    </div>
    <ion-button color="custom" fill="clear" (click)="viewExam(exam.id)">
      View
    </ion-button>
  </div>
</div>


<div class="details d-flex align-center flex-column">
  <p>For Expert Counselling</p>
  <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
    Click Here
  </ion-button>
</div>