<div class="notification_back">
  <h2>Notifications</h2>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <ion-button color="custom" fill="clear" (click)="popOpen()">
      View
    </ion-button>
  </div>
</div>

<div class="popup" *ngIf="pop">
  <div class="back">
    <ion-icon name="close-outline" (click)="popClose()"></ion-icon>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas eligendi accusantium</p>
    <div class="del">
      <span>Description</span>
      <a href="">CLICK HERE TO VIEW</a>
    </div>
  </div>
  
</div>

<div class="details d-flex align-center flex-column">
  <p>For Expert Counselling</p>
  <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
    Click Here
  </ion-button>
</div>