<ul class="service_list_back">
    <li class="d-flex align-center" [routerLink]="['/exam-institutions']">
        <img src="assets/images/l_i1.png" alt="">
        find your institutions
    </li>
    <li class="d-flex align-center" [routerLink]="['/explore-exam']">
        <img src="assets/images/l_i2.png" alt="">
        Explore exams
    </li>
    <li class="d-flex align-center"  [routerLink]="['/mbbs-abroad']">
        <img src="assets/images/l_i3.png" alt="">
        MBBS abroad
    </li>
    <li class="d-flex align-center" [routerLink]="['/panel-discussion']">
        <img src="assets/images/l_i4.png" alt="">
        Panel Discussion
    </li>
    <li class="d-flex align-center" [routerLink]="['/expert-counselling']">
        <img src="assets/images/l_i5.png" alt="">
        Predict Your College
    </li>
    <li class="d-flex align-center" [routerLink]="['/expert-counselling']">
        <img src="assets/images/l_i6.png" alt="">
        Expert Counselling
    </li>
    <li class="d-flex align-center" [routerLink]="['/notifications']">
        <img src="assets/images/l_i7.png" alt="">
        Notificatations
    </li>
    <li class="d-flex align-center" [routerLink]="['/education-loan-assistance']">
        <img src="assets/images/l_i8.png" alt="">
        Education loan assistance
    </li>
    <li class="d-flex align-center" [routerLink]="['/scholarships']">
        <img src="assets/images/l_i9.png" alt="">
        Scholarships
    </li>
    
</ul>