.banner_back{
    width: 100%; position: relative;
    .portion{
        width: 100%;
        img{
            height: 22.5rem; width: 100%; object-fit: cover; display: block;
        }
    }
    .bottom_notification{
        width: 100%; background-color: #0c4d9d; color: #fff; font-size: 1.4rem; height: 3.4rem; position: relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 7s linear infinite;
        }
    }
    
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }