<div class="banner_back">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="portion"><img src="assets/images/b1.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/b2.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/b1.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/b2.jpg" alt=""></div>
    </ion-slide>
    <ion-slide>
      <div class="portion"><img src="assets/images/b2.jpg" alt=""></div>
    </ion-slide>
  </ion-slides>
  <div class="bottom_notification d-flex align-center">
    <div class="track">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquam soluta accusantium reprehenderit maiores, 
    </div>
  </div>
</div>