
<div class="before_about_us">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In rem, maiores blanditiis repellat neque, non vel harum
    ducimus, nobis aperiam sunt? At veniam impedit autem facere assumenda enim quae culpa!. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. In rem, maiores blanditiis repellat neque, non vel harum ducimus, nobis aperiam sunt? At
    veniam impedit autem facere assumenda enim quae culpa!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
    rem, maiores blanditiis repellat neque, non vel harum ducimus, nobis aperiam sunt? At veniam impedit autem facere
    assumenda enim quae culpa!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. In rem, maiores blanditiis
    repellat neque, non vel harum ducimus, nobis aperiam sunt? At veniam impedit autem facere assumenda enim quae culpa!.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In rem, maiores blanditiis repellat neque, non vel harum
    ducimus, nobis aperiam sunt? At veniam impedit autem facere assumenda enim quae culpa!. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. In rem, maiores blanditiis repellat neque, non vel harum ducimus, nobis aperiam sunt? At
    veniam impedit autem facere assumenda enim quae culpa!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. In
    rem, maiores blanditiis repellat neque, non vel harum ducimus, nobis aperiam sunt? At veniam impedit autem facere
    assumenda enim quae culpa!. Lorem ipsum dolor, sit amet consectetur adipisicing elit. In rem, maiores blanditiis
    repellat neque, non vel harum ducimus, nobis aperiam sunt? At veniam impedit autem facere assumenda enim quae culpa!
  </p>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p>First time here?</p>
        <ion-button color="custom" fill="clear"[routerLink]="['/signup-first-step']">
          sign up
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <p>Existing user?</p>
        <ion-button color="custom" fill="clear"[routerLink]="['/signup-second-step']">
          login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
