.notification_back{
    width: 100%; height: auto; 
        h2{
            color: #e85b23;  font-size: 1.6rem; text-transform: capitalize; margin: 0 0 1.4rem 0; padding: 0; text-transform: uppercase; font-weight: 700;
        }
        h3{
            font-size: 1.5rem; font-weight: 700;
        }
        p{
            font-size: 1.3rem;
        }

}
