footer{
    width: 100%; box-shadow: rgba(0,0,0,.1) 1px 0 5px; background-color: #fafafa; padding: 5px 0;
    .ion-no-border{
        padding: 0;  text-align: center;
        ion-grid{
            padding: 0;
        }
        ion-col{
            padding: 0;
            &:first-child{
                .port{
                    background-image: url(../../../../assets/images/f1.png);
                    &:hover{
                        background-image: url(../../../../assets/images/f1_hover.png);
                    }
                    &.router-link-active{
                        background-image: url(../../../../assets/images/f1_hover.png);
                    }
                }
            }
            &:nth-child(2){
                .port{
                    background-image: url(../../../../assets/images/f2.png);
                    &:hover{
                        background-image: url(../../../../assets/images/f2_hover.png);
                    }
                    &.router-link-active{
                        background-image: url(../../../../assets/images/f1_hover.png);
                    }
                }
            }
            &:nth-child(3){
                .port{
                    background-image: url(../../../../assets/images/f3.png);
                    &:hover{
                        background-image: url(../../../../assets/images/f3_hover.png);
                    }
                    &.router-link-active{
                        background-image: url(../../../../assets/images/f1_hover.png);
                    }
                }
            }
            &:last-child{
                .port{
                    background-image: url(../../../../assets/images/f4.png);
                    &:hover{
                        background-image: url(../../../../assets/images/f4_hover.png);
                    }
                    &.router-link-active{
                        background-image: url(../../../../assets/images/f1_hover.png);
                    }
                }
            }
        }
        .port{
            width: 100%; color: #000; text-transform: capitalize; font-size: 1.2rem; background-position: center top; padding-top: 3rem; background-repeat: no-repeat; background-size: 2.6rem; transition: all .3s ease-in-out;
            &:hover{
                color: #e85b23;
            }
            &.router-link-active{
                color: #e85b23;
            }
            img{
                height: 2.6rem; width: auto !important; max-width: none !important; object-fit: contain; margin-bottom: 5px;
            }
            
           
        }
    }
}