<ng-container 
*ngIf="router.url === '/home' ||  
router.url === '/my-institutions' ||
router.url === '/my-activity' ||
router.url === '/my-alerts'||
router.url === '/profile' ||
router.url === '/refer-earn';then mainfooter; else blankfooter">
</ng-container>


<ng-template #blankfooter></ng-template> 
<ng-template #mainfooter>
  <footer>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col [routerLink]="['/home']" routerLinkActive="router-link-active">
              <div class="port d-flex flex-column">
                home
              </div>
            </ion-col>
            <ion-col [routerLink]="['/my-institutions']" routerLinkActive="router-link-active">
              <div class="port d-flex flex-column">
                my institutions
              </div>
            </ion-col>
            <ion-col [routerLink]="['/my-activity']" routerLinkActive="router-link-active">
              <div class="port d-flex flex-column">
                my activity
              </div>
            </ion-col>
            <ion-col [routerLink]="['/my-alerts']" routerLinkActive="router-link-active">
              <div class="port d-flex flex-column">
                my alerts
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </footer>
</ng-template>

