<div class="my_activity_back">
  <div class="title_back">
    <h2>My Activity</h2>
    <ion-button color="custom" fill="clear" [routerLink]="['/detailed-page-view']">
      Detailed Page View
    </ion-button>
    <ion-button color="custom" fill="clear" [routerLink]="['/course-application']">
      Course Application
    </ion-button>
  </div>
  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>