<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>signup</h2>
    <h3>Step 1/2</h3>
  </div>
  <div class="form_baCK">
    <form [formGroup]="signupForm" (ngSubmit)="sendotp()">
      <div class="port">
        <p>First Name</p>
        <input type="text" id="first_name" formControlName="first_name">
      </div>
      <div *ngIf="errorControl.first_name.touched && errorControl.first_name.invalid">
        <span style="color: red;" *ngIf="errorControl.first_name.errors.minlength">
          This First Name is not allowed.
        </span>
        <span style="color: red;" *ngIf="errorControl.first_name.errors.required">
          First name is required.
        </span>
      </div>
      <div class="port">
        <p>Last Name</p>
        <input type="text" id="last_name" formControlName="last_name">
      </div>
      <div *ngIf="errorControl.last_name.touched && errorControl.last_name.invalid">
        <span style="color: red;" *ngIf="errorControl.last_name.errors.minlength">
          This Last Name is not allowed.
        </span>
        <span style="color: red;" *ngIf="errorControl.last_name.errors.required">
          Last name is required.
        </span>
      </div>
      <div class="port">
        <p>Email</p>
        <input type="text" formControlName="email" id="email">
      </div>
      <div *ngIf="errorControl.email.touched && errorControl.email.invalid">
        
        <span style="color: red;" *ngIf="errorControl.email.errors.required">
          Email is required.
        </span>
      </div>
      <div class="port">
        <p>Mobile</p>
        <input type="text" formControlName="mobile" id="mobile">
      </div>
      <div *ngIf="errorControl.mobile.touched && errorControl.mobile.invalid">
        
        <span style="color: red;" *ngIf="errorControl.mobile.errors.required">
          Mobile is required.
        </span>
        <span style="color: red;" *ngIf="errorControl.mobile.errors.pattern">
          Mobile is not in format.
        </span>
      </div>
      <div class="port">
        <p>Create Password</p>
        <input type="password" id="password" formControlName="password">
      </div>
      <div *ngIf="errorControl.password.touched && errorControl.password.invalid">
        
        <span style="color: red;" *ngIf="errorControl.password.errors.required">
          Password is required.
        </span>
      </div>
      <div class="port">
        <p>Confirm Password</p>
        <input type="password" id="cpassword" formControlName="cpassword">
      </div>
      <div *ngIf="errorControl.cpassword.touched && confirmPassword()">
        <span style=" color: red;" >
          Password did not match
        </span>
      </div>
      <div class="port">
        <p>Referral Code (if any)</p>
        <input type="text" id="referral" formControlName="referral">
      </div>
      <ion-button type="submit" color="custom" fill="clear" [disabled]="!signupForm.valid">
        Next
      </ion-button>
    </form>
  </div>
  <div class="foot">
    <h5 [routerLink]="['/signin']">Exiting user?</h5>
    <h3 [routerLink]="['/before-login-aboutus']">about us</h3>
  </div>
</div>