<div class="gallery_content_back">
  <h2>Gallery</h2>
  <div class="details_back d-flex justify-content-between">
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
    <div class="port">
      <div class="back">
        <img src="assets/images/b1.jpg" alt="">
      </div>
    </div>
   
  </div>
</div>
