.gallery_content_back{
    width: 100%;
    h2{
        color: #e85b23;
        font-size: 1.6rem;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
    }
    .details_back{
        width: 100%; 
        background-color: #fff; 
        box-shadow: rgba(0,0,0,.1) 1px 0 1rem; 
        padding-left: 2rem;  
        border-radius: 5px;
        padding: 1rem 5px;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        .port{
            flex: 0 0 50%;
            padding: 0 5px;
            margin-bottom: 5px;
            .back{
                padding: 5px;
                border: rgba(0,0,0,.1) 1px solid;
                border-radius: 5px;
                img{
                    width: 100%;
                    display: block;
                    height: 14rem;
                    object-fit: cover;
                }
            }
        }
    }
}
