<div class="my_institutions_back">
  <div class="title_back">    
    <h2>My Institutions</h2>
    <div class="list" class="area" *ngFor="let ins of my_inst">
      <!-- <img src="{{uploadsUrl}}/{{ins.logo}}" onerror="this.src = 'assets/images/no-image.png';"> -->
      <h3>{{ins.title}}</h3>  
      <p>You viewed details of this institute</p>    
    </div>
  </div>
  
  
  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>