<div class="my_institutions_back">
  <div class="title_back d-flex align-center row">    
    <h2>My Institutions</h2>
    <span class="area col-md-12" *ngFor="let ins of my_inst">
      <!-- <img src="{{uploadsUrl}}/{{ins.logo}}" onerror="this.src = 'assets/images/no-image.png';"> -->
      <h2>{{ins.title}}</h2>      
    </span>
  </div>
  
  
  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>