
<h3>Know it from the experts!</h3>
<div class="abroad_back">
  <h2>Upcoming Panel discussions</h2>
  <div class="portion" *ngFor="let upcome of upcoming_panel">
    <div class="area">
      <img src="{{uploadsUrl}}/{{ upcome.image }}" onerror="this.src = 'assets/images/no-image.png';">
      <h2>{{ upcome.title}}</h2>
      <p style="text-align: center;margin: 29px 0;"><a href="javascript:void(0)" target="_blank" class="btn btn-primary" style="padding: 15px;margin: 10px 0;background: #3880ff;color: #fff;"> Register Now </a></p>
    </div>
    <!-- <div class="button">
      <ion-button color="custom" fill="clear" (click)="viewNewsEvents(ne)">
        View
      </ion-button>
    </div> -->
  </div>
</div>
<div class="abroad_back">
  <h2>Registered Panel discussions</h2>
  <div class="portion" *ngFor="let past of past_panel">
    <div class="area">
      <img src="{{uploadsUrl}}/{{ past.image }}" onerror="this.src = 'assets/images/no-image.png';">
      <h2>{{ past.title}}</h2>
      <p style="text-align: center;margin: 29px 0;"><a href="javascript:void(0)" target="_blank" class="btn btn-primary" style="padding: 15px;margin: 10px 0;background: #3880ff;color: #fff;"> Register Now </a></p>
    </div>
    <!-- <div class="button">
      <ion-button color="custom" fill="clear" (click)="viewNewsEvents(ne)">
        View
      </ion-button>
    </div> -->
  </div>
</div>

<div class="details d-flex align-center flex-column">
  <p>For Expert Counselling</p>
  <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
    Click Here
  </ion-button>
</div>