<div class="courses_details">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><strong>MBBS</strong></td>
      </tr>
      <tr>
        <td>Eligiblity</td>
        <td><strong>NEET UG</strong></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td><strong>MBBS</strong></td>
      </tr>
      <tr>
        <td>Number of seats</td>
        <td><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque iste consectetur harum, reiciendis nobis fuga.</strong></td>
      </tr>
      <tr>
        <td>Last date of Enrolment</td>
        <td><strong>OCT 31,2020</strong></td>
      </tr>
      <tr>
        <td>Fee per year</td>
        <td><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque minus excepturi fugiat atque deserunt accusantium labore incidunt laudantium vel!</strong></td>
      </tr>
    </tbody>
  </table>
</div>



