<div class="courses_details" *ngFor="let course of courses">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><strong>{{course?.course_name}}</strong></td>
      </tr>
      <tr>
        <td>Eligiblity</td>
        <td><strong>{{course?.eligibility}}</strong></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td><strong>{{course?.duration}}</strong></td>
      </tr>
      <tr>
        <td>Number of seats</td>
        <td><strong>{{course?.seat}}</strong></td>
      </tr>
      <tr>
        <td>Last date of Enrolment</td>
        <td><strong>{{course?.last_enrolment_date}}</strong></td>
      </tr>
      <tr>
        <td>Fee per year</td>
        <td><strong>{{course.fee}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>



